  <form class="applicationSettingsForm">
    <ul class="fieldset">

      <li>
        <label for="serverURL">Server URL</label>
        <div tabindex="0" class="input-display" id="serverURL"><%= serverURL %></div>
      </li>

      <li>
        <label for="serverPort">Server port</label>
        <div tabindex="0" class="input-display" id="serverPort"><%= serverPort %></div>
      </li>

      <li>
        <label for="loggedIn">Logged in</label>
        <div tabindex="0" class="input-display" id="loggedIn"><%= loggedIn %></div>
      </li>

      <li>
        <label for="username">Username</label>
        <div tabindex="0" class="input-display" id="username"><%= username %></div>
      </li>

      <li>
        <label for="persistenceType">Persistence type</label>
        <div tabindex="0" class="input-display" id="persistenceType"><%= persistenceType %></div>
      </li>

      <li>
        <label for="schemaType">Schema type</label>
        <div tabindex="0" class="input-display" id="schemaType"><%= schemaType %></div>
      </li>

      <li class="center">
        <button class="edit">Edit</button>
      </li>

  </ul>
  </form>

  </ul>
  </form>
